
body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 34px;
  margin-bottom: 20px;
  background: url("../images/titanic1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
 }


.addingPadding,#video {
  text-align: center;
}

#main {
background-color: black;
color: #ecebbd;
font-size: 25px;
padding:40px;

}
/*styling for header*/
#customNav{
    padding: 15px 0; 
    background: -moz-radial-gradient(70% 70%, #ecebbd, #fff);
    background: -webkit-radial-gradient(80% 80%, #ecebbd, #fff);
    background: -o-radial-gradient(80% 80%, #ecebbd, #fff); 
    background: -ms-radial-gradient(50% 50%, #ecebbd, #fff); 
    background: radial-gradient(50% 50%, #ecebbd, #fff);
}
.navbar-brand.abs{
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
    font-family: 'Cinzel', serif;
     font-size: 70px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 5px;
    color: black;
}

/*styling for main section*/
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #ecebbd;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
}

img {
  border-radius: 10%;
  width: 70%;
}

#start, #next, #restart {
  background-color: #ecebbd;
  color: black;
  font-size: 150%;
  font-weight: bold;
}

#timer {
  font-size: 30px;
  padding-bottom: 20px;
}

#questions {
  font-size: 35px;
}

#choiceList {
  padding-top: 20px;
}

#buttons {
  padding-top: 40px;
}


